
@{
    ViewBag.Title = "New";
}
<nav>
    <a class="navlink" href="/Teacher/List">Back to Authors</a>
</nav>
<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Create">
    <div>
        <label for="AuthorFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" required />
    </div>

    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" required />
    </div>

    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" required />
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="number" value="0.00" step="0.01" id="Salary" name="Salary" min="0" />
    </div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>